-- Executar no Supabase SQL Editorpara criar a tabela de Estudo BESS
CREATE TABLE IF NOT EXISTS "EstudoBESS" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "projetoId" TEXT NOT NULL UNIQUE,
  "demandaAlvoKW" DOUBLE PRECISION,
  "estrategia" TEXT,
  "bateriaId" TEXT,
  "inversorId" TEXT,
  "quantidadeBaterias" INTEGER NOT NULL DEFAULT 1,
  "picoReduzidoKW" DOUBLE PRECISION,
  "economiaMensalLeve" DOUBLE PRECISION,
  "economiaMensalBESS" DOUBLE PRECISION,
  "paybackSimples" DOUBLE PRECISION,
  "vpl" DOUBLE PRECISION,
  "tir" DOUBLE PRECISION,
  "configSimulacao" JSONB,
  "resultadosGrafico" JSONB,
  "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
  "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT "EstudoBESS_projetoId_fkey" FOREIGN KEY ("projetoId") REFERENCES "ProjetoEngenharia"("id") ON DELETE CASCADE
);
DO  BEGIN
  CREATE TRIGGER update_estudo_bess_updated_at BEFORE UPDATE ON "EstudoBESS" FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
EXCEPTION WHEN duplicate_object THEN null; END ;
