-- Executar no Supabase SQL Editor para criar a tabela de Estudo Solar
CREATE TABLE IF NOT EXISTS "EstudoSolar" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "projetoId" TEXT NOT NULL UNIQUE,
  "lat" DOUBLE PRECISION,
  "long" DOUBLE PRECISION,
  "hspManual" DOUBLE PRECISION,
  "hspPvgis" DOUBLE PRECISION,
  "pr" DOUBLE PRECISION NOT NULL DEFAULT 0.75,
  "perdaSistema" DOUBLE PRECISION NOT NULL DEFAULT 0.14,
  "geracaoAlvoKWh" DOUBLE PRECISION,
  "potenciaNecessariaKWp" DOUBLE PRECISION,
  "moduloId" TEXT,
  "inversorId" TEXT,
  "quantidadeModulos" INTEGER NOT NULL DEFAULT 0,
  "quantidadeInversores" INTEGER NOT NULL DEFAULT 1,
  "numStrings" INTEGER NOT NULL DEFAULT 1,
  "modulosPorString" INTEGER NOT NULL DEFAULT 1,
  "areaOcupadaM2" DOUBLE PRECISION,
  "pesoTotalKg" DOUBLE PRECISION,
  "investimentoEstimado" DOUBLE PRECISION,
  "paybackAnos" DOUBLE PRECISION,
  "vpl" DOUBLE PRECISION,
  "tir" DOUBLE PRECISION,
  "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
  "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT "EstudoSolar_projetoId_fkey" FOREIGN KEY ("projetoId") REFERENCES "ProjetoEngenharia"("id") ON DELETE CASCADE
);
DO  BEGIN
  CREATE TRIGGER update_estudo_solar_updated_at BEFORE UPDATE ON "EstudoSolar" FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
EXCEPTION WHEN duplicate_object THEN null; END ;
