-- Executar no Supabase SQL Editor para atualizar a tabela AnaliseFatura
ALTER TABLE "AnaliseFatura" ADD COLUMN IF NOT EXISTS "nomeCliente" TEXT;
ALTER TABLE "AnaliseFatura" ADD COLUMN IF NOT EXISTS "endereco" TEXT;
